<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Столярная мастерская "Деревянный Джо"| Стул</title>
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Open+Sans+Condensed:700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/mainapp/css/style.css">
</head>

<body>
    <div class="container">
        <header class="header">
            <a class="logo" href="index.html" title="Столярная мастерская &quot;Деревянный Джо&quot;">
                <h1 class="title">Деревянный Джо <span>cтолярная мастерская </span></h1>
            </a>
            <ul class="mainmenu">
                <li class="_item"><a class="_link" href="/" title="На главную">Главная</a></li>
                <li class="_item"><a class="_link" href="/catalog" title="Каталог">Каталог</a></li>
                <li class="_item"><a class="_link" href="/contact" title="Контакты">Контакты</a></li>
            </ul>
        </header>

        <div class="catalog">
            <h2 class="_title">Каталог</h2>
            <div class="_content">
                <a class="_item" href="product_page.html" title="Столик">
                    <img class="_image" src="/static/mainapp/img/table-0001.jpg" alt="Стол арт.0001">
                    <h3 class="_title">Столик</h3>
                </a>
                <a class="_item" href="product_page.html" title="Столик">
                    <img class="_image" src="/static/mainapp/img/table-0001.jpg" alt="Стол арт.0001">
                    <h3 class="_title">Столик</h3>
                </a>
                <a class="_item" href="product_page.html" title="Столик">
                    <img class="_image" src="/static/mainapp/img/table-0001.jpg" alt="Стол арт.0001">
                    <h3 class="_title">Столик</h3>
                </a>
                <a class="_item" href="product_page.html" title="Столик">
                    <img class="_image" src="/static/mainapp/img/table-0001.jpg" alt="Стол арт.0001">
                    <h3 class="_title">Столик</h3>
                </a>
                <a class="_item" href="product_page.html" title="Столик">
                    <img class="_image" src="/static/mainapp/img/table-0001.jpg"         alt="Стол арт.0001">
                    <h3 class="_title">Столик</h3>
                </a>
                <a class="_item" href="product_page.html" title="Столик">
                    <img class="_image" src="/static/mainapp/img/table-0001.jpg" alt="Стол арт.0001">
                    <h3 class="_title">Столик</h3>
                </a>
                <a class="_item" href="product_page.html" title="Столик">
                    <img class="_image" src="/static/mainapp/img/table-0001.jpg" alt="Стол арт.0001">
                    <h3 class="_title">Столик</h3>
                </a>
                <a class="_item" href="product_page.html" title="Столик">
                    <img class="_image" src="/static/mainapp/img/table-0001.jpg" alt="Стол арт.0001">
                    <h3 class="_title">Столик</h3>
                </a>
                <a class="_item" href="product_page.html" title="Столик">
                    <img class="_image" src="/static/mainapp/img/table-0001.jpg" alt="Стол арт.0001">
                    <h3 class="_title">Столик</h3>
                </a>
                <a class="_item" href="product_page.html" title="Столик">
                    <img class="_image" src="/static/mainapp/img/table-0001.jpg" alt="Стол арт.0001">
                    <h3 class="_title">Столик</h3>
                </a>
                <a class="_item" href="product_page.html" title="Столик">
                    <img class="_image" src="/static/mainapp/img/table-0001.jpg" alt="Стол арт.0001">
                    <h3 class="_title">Столик</h3>
                </a>
                <a class="_item" href="product_page.html" title="Столик">
                    <img class="_image" src="/static/mainapp/img/table-0001.jpg" alt="Стол арт.0001">
                    <h3 class="_title">Столик</h3>
                </a>
                
            </div>
        </div>
        <footer class="footer">
            <span class="copy">&copy;2018 Все права защищены</span>
        </footer>
    </div>
</body>

</html>
