<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Столярная мастерская "Деревянный Джо"| Стул</title>
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Open+Sans+Condensed:700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/mainapp/css/style.css">
</head>

<body>
    <div class="container">
        <header class="header">
            <a class="logo" href="index.html" title="Столярная мастерская &quot;Деревянный Джо&quot;">
                <h1 class="title">Деревянный Джо <span>cтолярная мастерская </span></h1>
            </a>
            <ul class="mainmenu">
                <li class="_item"><a class="_link" href="/" title="На главную">Главная</a></li>
                <li class="_item"><a class="_link" href="/catalog" title="Каталог">Каталог</a></li>
                <li class="_item"><a class="_link" href="/contact" title="Контакты">Контакты</a></li>
            </ul>
        </header>

        <div class="content">
            <section class="feedback">
                <h2 class="_title">Напишите нам</h2>
                <form action="#">
                    <input name="username" type="text" placeholder="Имя" />
                    <input name="email" type="email" placeholder="E-mail" />
                    <textarea name="message" placeholder="Сообщение"></textarea>
                    <input type="submit" value="Отправить">
                </form>
            </section>

            <section class="map">
                <h2 class="_title">Карта проезда</h2>
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aea33fd4cf56118b5a46861def4bc9ac491d9cdca7e46ed946448da7fdbc1cde8&amp;width=100%25&amp;height=200&amp;lang=ru_RU&amp;scroll=true"></script>
            </section>
        </div>

        <footer class="footer">
            <span class="copy">&copy;2018 Все права защищены</span>
        </footer>
    </div>
</body>

</html>
