<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Столярная мастерская "Деревянный Джо"| Стул</title>
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Open+Sans+Condensed:700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/mainapp/css/style.css">
</head>

<body>
    <div class="container">
        <header class="header">
            <a class="logo" href="index.html" title="Столярная мастерская &quot;Деревянный Джо&quot;">
                <h1 class="title">Деревянный Джо <span>cтолярная мастерская </span></h1>
            </a>
            <ul class="mainmenu">
                <li class="_item"><a class="_link" href="../index.html" title="На главную">Главная</a></li>
                <li class="_item"><a class="_link" href="index.html" title="Каталог">Каталог</a></li>
                <li class="_item"><a class="_link" href="../contacts.html" title="Контакты">Контакты</a></li>
            </ul>
        </header>

        <div class="product">
            <h2>Журнальный столик</h2>
            <p class="_id">ID: 0001</p>
            <a class="_imglink" href="../img/table-0001.jpg" target="_blank"><img class="_image" src="../img/table-0001.jpg" alt="Стол арт.0001"></a>
            <div class="_desc">
                <h3 class="_title">Описание товара</h3>
                <p class="_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid recusandae natus distinctio quae enim. Excepturi, hic. Accusamus asperiores ullam soluta qui. Consequuntur, eius libero dolore facilis porro ratione vero ipsum.</p>
            </div>
            <table class="_param">
                <caption class="_title">Характеристики</caption>
                <tbody class="_content">
                    <tr class="_item">
                        <th>Материал:</th>
                        <td>Бук</td>
                    </tr>
                    <tr class="_item">
                        <th>Размеры, мм.:</th>
                        <td>500x500x800</td>
                    </tr>
                    <tr class="_item">
                        <th>Вес, г.:</th>
                        <td>3000</td>
                    </tr>
                </tbody>
            </table>
            <button class="buy">Купить</button>
            <div class="_fulldesc">
                <h3 class="_title">Подробное описание товара</h3>
                <p class="_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam praesentium suscipit temporibus provident beatae modi, voluptatem totam dicta reiciendis iste alias sunt, blanditiis quam quas! Accusantium praesentium, delectus quo error!</p>
            </div>
        </div>
        <footer class="footer">
            <span class="copy">&copy;2018 Все права защищены</span>
        </footer>
    </div>
</body>

</html>
